html, body {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
body {
	background-color: #000;
	color: #eee;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 2em;
}
header {
	background: url('img/top.jpg') no-repeat bottom center scroll #D2D2D2;
	background-size: auto 100vh;
	height: 98vh;
	text-align: center;
	border-top: #E24C33 1vh solid;
	//border-top: #FFDC00 1vh solid;
	border-bottom: #000 1vh solid;
}
#content {
	text-align: center;
	width: 768px;
	margin: 0 auto;
}
article {
	background: #151515;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
	margin: 1.5em auto;
	padding: 1em 1.5em;
}
footer {
	text-align: center;
	border-top: #222 solid 2px;
	font-size: 14px;
}
ul {
	text-align: left;
}
p {
	text-align: justify;
	margin: 1.2em 0;
}
.feed-container {
	text-align: justify;
}
.feed-container div {
	margin-bottom: 1em;
}
.feed-read-more {
	color: #AAA;
	font-style: italic;
}
.feed-container-github {
	text-align: justify;
}
.hashtag {
	color: #BBB;
	border: 1px solid #222;
	background: #222;
	padding: .25em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
}
#rss-feeds-github, #rss-feeds-soundcloud, #nowplaying {
	text-align: left;
}
#nowplayingimg {
	height:24px;
	margin-right: 10px;
	border: 1px solid #333;
	vertical-align:middle;
}
h1, h2, h3, h4 {
	text-transform: uppercase;
}
h1, h2 {
	-webkit-text-stroke: 0.05vw #EEE;
}
h1 {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	letter-spacing: 1.2vw;
	font-size: 11vw;
	line-height: 7.5vw;
	//color: #E24C33;
	color: #222;
	margin-top: 35vh;
	margin-bottom: 0;
}
h2 {
	font-family: "Helvetica Neue";
	letter-spacing: 0.4vw;
	font-weight: 1000;
	font-size: 3.4vw;
	//color: #FFDC00;
	color: #E24C33;
}
h3 {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 2px;
}
h4 {
	margin-bottom: 1em;
	margin: 0;
	padding: 0;
}
a {
	color: #E24C33;
	text-decoration: none;
}
a:hover {
	color: #ff0;
	color: #FFDC00;
}
.color1 {color: #eee;}
.color2 {color: #E24C33;}
@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
		line-height: 2em;
	}
	#content {
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}
	article {
		-webkit-border-radius: 0em;
		-moz-border-radius: 0em;
		border-radius: 0em;
	}
	h1, h2 {
		-webkit-text-stroke: 0.1vw #000;
	}
	h3 {
		text-align: left;
	}

}
