{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
    {%- for glb in social.gitlab -%}
    {%- if glb.username and glb.instance -%}
    <li><a rel="me" href="https://{{ glb.instance | cgi_escape | escape}}/{{glb.username}}"
           title="{{ glb.username | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#gitlab' | relative_url }}"></use>
        </svg>
        <span class="username">{{ glb.username | escape }}</span>
    </a></li>
    {%- endif -%}{%- endfor -%}
    {%- if social.github -%}
    <li><a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}"
           title="{{ social.github | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.github | escape }}</span>
    </a></li>
    {%- endif -%}
    {%- if social.stackoverflow -%}
    <li><a rel="me" href="https://stackoverflow.com/users/{{ social.stackoverflow | cgi_escape | escape }}"
           title="{{ social.stackoverflow | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.stackoverflow | escape }}</span>
    </a></li>
    {%- endif -%}
    {%- if social.linkedin -%}
    <li><a rel="me" href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}"
           title="{{ social.linkedin | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.linkedin | escape }}</span>
    </a></li>
    {%- endif -%}
    {%- for mst in social.mastodon -%}{%- if mst.username and mst.instance -%}
    <li><a rel="me" href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}"
           title="{{ mst.username | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use>
        </svg>
        <span class="username">{{ mst.username | escape }}</span>
    </a></li>
    {%- endif -%}{%- endfor -%}
    {%- if social.twitter -%}
    <li><a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
           title="{{ social.twitter | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.twitter | escape }}</span>
    </a></li>
    {%- endif -%}
    {%- if social.telegram -%}
    <li><a rel="me" href="https://t.me/{{ social.telegram | cgi_escape | escape }}"
           title="{{ social.telegram | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.telegram | escape }}</span>
    </a></li>
    {%- endif -%}
    {%- if social.keybase -%}
    <li><a rel="me" href="https://keybase.io/{{ social.keybase | cgi_escape | escape }}"
           title="{{ social.keybase | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#keybase' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.keybase | escape }}</span>
    </a></li>
    {%- endif -%}
    {%- if social.devto -%}
    <li><a href="https://dev.to/{{ social.devto | cgi_escape | escape }}" title="{{ social.devto | escape }}">
        <svg class="svg-icon grey">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#devto' | relative_url }}"></use>
        </svg>
        <span class="username">{{ social.devto | escape }}</span>
    </a></li>
    {%- endif -%}
</ul>
